.postealo__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 7vh;
    &-logo{
        width: 20%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}