.postealo__register{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &-form{
      display: flex;
      justify-content: center;
      flex-direction: column;
      &-imgprofile{
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    &-email{
        margin-top: 10%;
    }
    &-password{
        margin-top: 10%;
    }
    input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
    }
};
.register-ok{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 2%;
        margin-bottom: 5%;
        text-align: center;
        border-radius: 10px;
        color: white;
        background-image: linear-gradient(to right top, #3be091, #55e47c, #6fe862, #8bea44, #a8eb12);

        p {
            margin-top: 10%;
        }
};
.register-errors{
  margin-top: 5%;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(to right top, #f80712, #ed0b13, #e20f13, #d81114, #cd1314);
}


.lds-roller {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 140px;
}
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }